<section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super Value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up do 40% off!</p>
    <button>Shop Now</button>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="img/features/f1.png" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="img/features/f2.png" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="img/features/f3.png" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="img/features/f4.png" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="img/features/f5.png" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="img/features/f6.png" alt="">
        <h6>24/7 Support</h6>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection Mordern Design</p>
    <div class="pro-container">
        <div class="pro">
            <img src="img/products/f1.jpg" alt="">
            <div class="des">
                <span>Nike</span>
                <h5>Abstract Shirt</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>78$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/f2.jpg" alt="">
            <div class="des">
                <span>Nike</span>
                <h5>Flower Shirt</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>85$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/f3.jpg" alt="">
            <div class="des">
                <span>Nike</span>
                <h5>Jade Shirt</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>120$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/f4.jpg" alt="">
            <div class="des">
                <span>Nike</span>
                <h5>Flower Shirt</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>111$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/f5.jpg" alt="">
            <div class="des">
                <span>Nike</span>
                <h5>Floral Shirt</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>55$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/f6.jpg" alt="">
            <div class="des">
                <span>Nike</span>
                <h5>2 Colors Shirt</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>155$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/f7.jpg" alt="">
            <div class="des">
                <span>Nike</span>
                <h5>Women Pants</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>103$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/f8.jpg" alt="">
            <div class="des">
                <span>Nike</span>
                <h5>Women Robe</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>78$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>

    </div>
</section>

<section id="banner" class="section-m1">
    <h4>Repair Services</h4>
    <h2>Up to <span>70% Off </span> - All of T-shirts & Accessories</h2>
    <button class="normal">Explore More</button>
</section>

<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Summer Collection New Mordern Design</p>
    <div class="pro-container">
        <div class="pro">
            <img src="img/products/n1.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h5>Shirt Blue</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>78$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n2.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h5>Shirt</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>85$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n3.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h5>White Shirt</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>120$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n4.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h5>Wolf Shirt</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>111$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n5.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h5>Jean Shirt</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>55$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n6.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h5> Cargo</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>155$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n7.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h5>Beige Shirt</h5>	
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>103$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
        <div class="pro">
            <img src="img/products/n8.jpg" alt="">
            <div class="des">
                <span>Adidas</span>
                <h5>Black shirt</h5>
                <div class="star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <h4>78$</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart"></i></a>
        </div>
    </section>


<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>Crazy Deals</h4>
        <h2>Buy 1 get 1 Free</h2>
        <span>The best classic dress is on sale at Blindr 2.0</span>
        <button class="white">Learn More</button>
    </div>
    <div class="banner-box banner-box2">
        <h4>spring/summer</h4>
        <h2>upcoming season</h2>
        <span>The best classic dress is on sale at Blindr 2.0</span>
        <button class="white">Collection</button>
    </div>
</section>


<section id="banner3">
    <div class="banner-box">
        <h2>SEASONAL SALE</h2>
        <h3>Winter Collection -50% OFF</h3>
    </div>
    <div class="banner-box banner-box2">
        <h2>New Winter Collection</h2>
        <h3>Winter 2022</h3>
    </div>
    <div class="banner-box banner-box3">
        <h2>Women Collection</h2>
        <h3>Trendy</h3>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For NewsLetters</h4>
        <p>Get E-mail updates about our new lastest shop and <span>special Offers.</span> </p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>




