<section id="page-header" class="about-header">
    <h2>#Let's Talk</h2>
    <p>Leave a Message. I wanna ear from you</p>

</section>

<section id="contact-details" class="section-p1">
    <div class="details">
        <span>Get In Touch</span>
        <h2>Visit me on my agency location or contact me today</h2>
        <h3>Head Office</h3>
        <div>
            <li>
                <i class="fal fa-map"></i>
                <p>23 Rue Jules Valles, Choisy Le Roi</p>
            </li>
            <li>
                <i class="fal fa-envelope"></i>
                <p>santosmicael663@gmail.com</p>
            </li>
            <li>
                <i class="fal fa-phone-alt"></i>
                <p>+33768999148</p>
            </li>
            <li>
                <i class="fal fa-clock"></i>
                <p>Monday to Saturday 08:00 to 18</p>
            </li>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2630.324269864247!2d2.4074942158540096!3d48.75660351582202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6748c88f344e7%3A0x71019d9be42e2b56!2s23%20Rue%20Jules%20Vall%C3%A8s%2C%2094600%20Choisy-le-Roi!5e0!3m2!1spt-PT!2sfr!4v1661027708720!5m2!1spt-PT!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<section id="form-details">
    <form action="">
        <span>Leave a Message</span>
        <h2>We love to ear from you</h2>
        <input type="text" placeholder="Your name">
        <input type="text" placeholder="email">
        <input type="text" placeholder="Subject">
        <textarea name="" id="" cols="30" row="10" placeholder="Your Message"></textarea>
        <button class="normal">Submit</button>
    </form>

    <div class="people">
        <div>
            <img src="img/people/3.jpg" alt="">
            <p><span>Micael Santos</span>FullStack Developer<br> Phone: +33768999148 <br>Email: santosmicael663@gmail.com</p>
        </div>
        <div>
            <img src="img/people/2.jpg" alt="">
            <p><span>Micael Santos</span>FullStack Developer<br> Phone: +33768999148 <br>Email: santosmicael663@gmail.com</p>
        </div>
        <div>
            <img src="img/people/1.jpg" alt="">
            <p><span>Micael Santos</span>FullStack Developer<br> Phone: +33768999148 <br>Email: santosmicael663@gmail.com</p>
        </div>
    </div>
</section>


<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For NewsLetters</h4>
        <p>Get E-mail updates about our new lastest shop and <span>special Offers.</span> </p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>


<footer class="section-p1">
    <div class="col">
        <img src="img/Logo.png" alt="">
        <h4>Contact</h4>
        <p><strong>Adress: </strong>23 Rue Jules Valles, Choisy-le-Roi, France</p>
        <p><strong>Phone: </strong>+33 768 999 148</p>
        <p><strong> Hours: </strong>08:00 - 18:00, Mon - Sat</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pintarest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery information</a>
        <a href="#">Privacy policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>

    <div class="col install">
        <h4>Install App</h4>
        <p> From App Store or Google Play</p>
        <div class="row">
            <img src="img/pay/app.jpg" alt="">
            <img src="img/pay/play.jpg" alt="">
        </div>
        <p>Secured Payment Gateways </p>
        <img src="img/pay/pay.png" alt="">
    </div>
    <div class="copyright">
        <p> 2022 Blindr 2.0 - Micael Santos</p>
    </div>
</footer>


<script src="script.js"></script>
</body>

</html>