    <section id="header">

        <a href="#"><img src="{{ asset('img/home/Logo.png') }}" class="logo" al</a>


            <div>
                <ul id="navbar">
                    <li><a class="nav-link" href="{{ path('home') }}">Home</a></li>
                    <li><a class="nav-link" href="shop.html">Shop</a></li>
                    <li><a class="nav-link" href="blog.html">Blog</a></li>
                    <li><a class="nav-link" href="about.html">About</a></li>
                    <li><a class="nav-link" href="contact.html">Contact</a></li>
                    <li><a class="nav-link" href="cart.html"><i class="far fa-shopping-bag"></i></a></li>
                    <a href="" id="close"><i class="far fa-times"></i></a>
                </ul>
            </div>
            <div id="mobile">
                <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
                <i id="bar" class="fas fa-outdent"></i>

                </i>
            </div>
    </section>