<h1>Hi! Please confirm your email!</h1>

<p>You created and account in Blindr 2.0 and thank you. You still need another procedure before you can benefit from your account on our website: validate your e-mail.</p>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
