{% extends 'baseAdmin.html.twig' %}

{% block title %}Home Admin{% endblock %}

{% block body %}
    <h1>Welcome to Admin Space!</h1>

    <p class="text-center">Please you can click on the link on your left, so you can start on administrating the site.</p>
{% endblock %}
