{% extends 'baseAdmin.html.twig' %}

{% block title %}Home Admin{% endblock %}

{% block body %}
    <h1>Welcome {{ app.user.firstName }}</h1>

    <p class="text-left">Please you can click on the menu on your left, so you can start on administrating the site.</p>
{% endblock %}
