<!DOCTYPE html>

<html ="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

        <title>Blindr 2.0 - {% block title %}{% endblock %}</title>


        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        
    </head>

    <body>


        <header>
        {% include "_partials/header.html.twig" %}
        </header>

        <main>
        {% include "_partials/about.html.twig" %}
        </main>

        <footer>
        {% include "_partials/footer.html.twig" %}
        </footer>
        
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}
          
        {% endblock %}


    </body>

</html>